@import bootswatch/readable/bootstrap

@import font-awesome/css/font-awesome
@import pygments/css/pastie
// @import pygments/css/monokai
// @import pygments/css/rrt
@import ekko-lightbox/dist/ekko-lightbox

@media (min-width: 992px)
  .container
    width: 970px

pre
  font-size: 14px

.article
  margin-bottom: 60px
  &:first-child h2
    margin-top: 0

.truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.img-left
  margin-left: 11px

