@import bootswatch/readable/bootstrap
// @import bootstrap
// @import ff7

// @import font-awesome/css/font-awesome
@import pygments/css/pastie
// @import pygments/css/monokai
// @import pygments/css/rrt

// TODO: make blog width smaller

.article
  margin-bottom: 60px
  &:first-child h2
    margin-top: 0

.truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

