@import bootswatch/readable/bootstrap

@import font-awesome/css/font-awesome
@import pygments/css/pastie
// @import pygments/css/monokai
// @import pygments/css/rrt
@import ekko-lightbox/dist/ekko-lightbox

.label
  padding: 4px 7px 4px
  vertical-align: 0px

@media (min-width: 992px)
  .container
    width: 970px

pre
  font-size: 14px

.article
  margin-bottom: 60px

.truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.img-left
  margin-left: 11px

a[data-toggle='collapse']
  text-decoration: none
  &:not(.collapsed):before
    @extend .fa
    @extend .fa-angle-down
  &.collapsed:before
    @extend .fa
    @extend .fa-angle-up
