<div id='mc_embed_signup'>
  <form role='form' action='http://ryanjafari.us3.list-manage.com/subscribe/post?u=956223c17ea7bf1c556b4c16b&amp;id=7387b61811' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class="validate <%= klass || '' %>" target='_blank' novalidate>

    <input type='hidden' value="<%= page_data.tags %>" name='INTEREST' class='' id='mce-INTEREST'>
    <input type='hidden' value="<%= page_data.title %>" name='ARTICLE' class='' id='mce-ARTICLE'>

    <div class='mc-field-group form-group'>
      <!-- <label for='mce-EMAIL' class='control-label'>Email Address  <span class='asterisk'>*</span></label> -->
      <input type='email' value='' name='EMAIL' class='required email form-control input-sm' id='mce-EMAIL' placeholder='your@email.here'>
    </div>

    <div class='mc-field-group form-group'>
      <!-- <label for='mce-FNAME' class='control-label'>First Name </label> -->
      <input type='text' value='' name='FNAME' class='form-control input-sm' id='mce-FNAME' placeholder='First Name'>
    </div>

    <div class='mc-field-group form-group'>
      <!-- <label for='mce-LNAME' class='control-label'>Last Name </label> -->
      <input type='text' value='' name='LNAME' class='form-control input-sm' id='mce-LNAME' placeholder='Last Name'>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style='position: absolute; left: -5000px;'>
      <input type='text' name='b_956223c17ea7bf1c556b4c16b_7387b61811' value=''>
    </div>

    <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button btn btn-primary btn-sm'>

  </form>
</div>
