---
title: 'How To: Get More (Valuable) Leads For Your Software Consultancy (Checklist)'
author: ryan
date: 2012-11-11 18:12 -05:00
tags: consulting
---

<p><strong>Once upon a time in New York City</strong>, we started a software consultancy based on the fact that there are a ton of up and coming startups here in Silicon Alley. It worked, but not nearly as well as we hoped. Here's ultimately what we learned from our experience:</p>
<ol>
<li>Startups work on some very cool stuff</li>
<li>Startups have no money</li>
</ol>
<p>Obvious huh? Yeah well, our thought was that there were so many of them that they would keep us in business for a while. Oh and that they did! However, we had two problems:</p>
<ul>
<li>We were too busy (not a problem by itself, but…)</li>
<li>We weren't making enough money</li>
</ul>
READMORE
<p><strong>An algebra teacher I once had</strong> in middle school told me something I always remembered: "Don't define something by what it's not. It's not a giraffe, it's not a helicopter, it's not a shiny apple. That doesn't get us anywhere. Always define something by what it is.". Well turns out this isn't 8th grade math class so we're going to screw that for a second and clue you in on who NOT to target as well as who to target for new business leads for your up and coming software consultancy. This may sound harsh, but it's for the good of all parties involved, you and the client. After all, this is business baby.</p>
<p><span><strong><em><span><span><span style="color: #ff2600;">Don't Target</span></span></span></em></strong></span></p>
<p><strong><img title="" src="empty_pockets.jpg" alt="" width="" height="" border="0" /></strong></p>
<ul>
<li><strong>Students at business schools</strong>. Painfully obvious we know. They are young, smart, and even well connected at some of the bigger brand name schools, but they don't really know what they are doing (with their startup, or even in their relationship with your consultancy) simply because they lack the experience (and more often than not, the funds).</li>
<li><strong>Early stage startups at trendy tech meet ups</strong>. Their startups are cool and they are nice people, but if you're hanging out at meet ups all day and don't have a product you've got your head in the clouds and not a dime to your name.</li>
<li><strong>Early stage startups at incubators</strong>. They are fighting hard, and will likely all obtain at least some measure of success one day, but do you want to depend on a fledgling fetus recuperating in an oven to pay you what you're worth, and on time?</li>
<li><strong>Craigslist and other job boards</strong><em>. </em>It's true, we signed one of our most lucrative contracts from Craigslist (something we're always hesitant to tell people). The problem is that the kind of people you're working with here is totally random. Not really a smart move if you think about it. Not only that, but the vast majority of job boards are software companies looking for full-time workers (since they are trying to keep everything in house to build a strong core, team spirit, and all that fluffy stuff). Non-software companies don't mind, and even prefer contractors because they don't have to shell out benefits and pay you a salary.</li>
<li><strong>Software companies and other development firms</strong><em>. </em>Despite them looking for mainly full-timers, they might hire a consultancy every once in a while because of a project they can't handle or deadlines they can't meet. The bottom line is they don't appreciate your work or your professional opinion, and want everything done their way, within their procedures and infrastructure, and under their terms. You might be cool with that, but it's not how we roll. We are hired to handle all of that. If you've got it covered, then we aren't a match. Find some code monkeys at a freelance emporium. <em>The exception here is if they don't have any expertise in your field at all. For instance, if a Windows WPF C# .NET shop is looking for an iOS developer (not sure why that would happen, but just to give you an idea)</em>.</li>
<li><strong>Design firms</strong>. I love design, and I love designers, but design shops don't give a damn about development, and it shows in how much and how on time they are willing to pay you. You're the equivalent of an unlicensed plumber to them. Stay clear.</li>
<li><strong>Small businesses</strong>. Mainly for budgetary reasons.</li>
</ul>
<p><span><em><strong><span><span><span style="color: #00f900;">Do Target</span></span></span></strong></em></span></p>
<p><img title="" src="business_guy.jpg" alt="" width="" height="" border="0" /></p>
<ul>
<li><strong>Medium to large businesses that aren't software companies</strong>. Larger businesses pay well, on time, are usually more flexible when it comes to timetables, and are interested in longer-term contracts. The work isn't as interesting as that of a startup, but this is about business. Acquiring these contracts isn't easy, but the idea is that if you spend your time trying to get these kinds of deals, once you do finally land one, you increase your chances of securing further contracts like this down the road. Think about it: startups refer other startups to you. Small companies refer other small companies. Bigger companies refer bigger companies. It amounts to a lot of hard business development work, occasional spamming, and a lot of <em>high-quality</em> networking. Once you are able to meet these people whether in person or on a call, they will have already liked your work. Forget about telling them you know code, forget about informing them on your process. That's stuff you care about, not them. Focus on establishing a connection with them personally and with their business goals and you should be able to seal the deal with a relatively high percentage.</li>
</ul>
<p><span style="text-decoration: underline;">How To Target</span></p>
<ul>
<li><strong>Content</strong>. Good content gets around, so put your best effort forward whenever you can. Keep the quality up and the frequency steady. Write about your experiences, about what you know. Make it personal and anecdotal (people love a story). Look at it as a diary even. What you learn from is certain to help others learn. The SEO value of this can't be matched either, but that takes some time. Oh and writing for the technical crowd is cool and all, and you should even do that sometimes because it's what you know. But take time to write for your customers, who may not be technical people. Perhaps you do a post on, say, "How to hire a great software consultancy", with some honest insights into how exactly to do that and what to look out for, without <em>directly</em> shamelessly promoting yourself. Some mediums for content:</li>
<ul>
<li><em>Blog posts</em></li>
<li><em>Presentations</em></li>
<li><em>Webinars</em></li>
</ul>
<li><strong>LinkedIn</strong>. You don't have to go crazy spamming people here. Be honest and connect with the appropriate professionals. Make sure your profile is clear and succinct on what you do, what you offer, and your experience (with links to your site and possibly even your projects). If they happen to be looking for a consultant, you're golden. If not, no big deal.</li>
<li><strong>Twitter</strong>. The same as the above applies for Twitter. Be respectful and honest. It takes time, yes, but you will eventually land something. Just remember when you get on that call, it's show time!</li>
<li><strong>Forums</strong>. Like Quora. Give 'em your two cents and look like a pro while doing it (make sure you do your homework first though if you need to to avoid sounding like an ass).</li>
</ul>
<p><span style="text-decoration: underline;">Supplementary</span></p>
<ul>
<li><strong>Google AdWords</strong>. Spend a few bones to get this running and let it go. The leads it generates are hit or miss, but figure it can't hurt to get a campaign going. Oh and by the way, reevaluate your campaign, because if you think you've got your keywords down, you probably don't.</li>
<li><strong>Twitter Ads</strong>. As we all know Twitter has finally made some steps towards actually making money, and their in-app ad network is new. Something to try. Wouldn't worry either about all the developers going over to App.net, because we aren't targeting them anyway.</li>
<li><strong>Portfolio sites </strong>(Sortfolio) <a href="http://sortfolio.com/">http://sortfolio.com/</a>. Pay the extra bucks to be featured on the front page if you can, at least for a little while.</li>
<li><strong>NeedTagger </strong><a href="http://www.needtagger.com/">http://www.needtagger.com/</a>. A new tool that we've been curious to try out for some time.</li>
</ul>
<p>It's <em>always</em> good to network and meet new people from various backgrounds and companies (it expands your mind), but using the wrong stuff as your primary source for new leads when you've gotta eat is not the best spend of that valuable hour. That kind of low-priority networking is something you might tackle off-camera, as a longer-term investment in a relationship that might prove fruitful down the road (for a referral or something).</p>
<p>Happy lead hunting!</p>
<p>Ryan</p>
