---
title: SaaS Development & Design Process
date: 2012-04-23
tags: startups
---
<p>Just wanted to share a <em>rough</em> diagram I made up detailing our <em>rough</em> development and design process for SaaS projects. Just a cute way to organize our thoughts on our own experience and research I suppose!</p>

READMORE

<a title="View Cetrasoft SaaS Design & Development Cycle on Scribd" href="http://www.scribd.com/doc/90909890/Cetrasoft-SaaS-Design-Development-Cycle" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Cetrasoft SaaS Design & Development Cycle</a><object id="doc_366799786812521" name="doc_366799786812521" height="500" width="100%" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;">   <param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf">    <param name="wmode" value="opaque">   <param name="bgcolor" value="#ffffff">    <param name="allowFullScreen" value="true">   <param name="allowScriptAccess" value="always">   <param name="FlashVars" value="document_id=90909890&access_key=key-1m1ypnelq4stnockaevd&page=1&viewMode=slideshow">   <embed id="doc_366799786812521" name="doc_366799786812521" src="http://d1.scribdassets.com/ScribdViewer.swf?document_id=90909890&access_key=key-1m1ypnelq4stnockaevd&page=1&viewMode=slideshow" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="500" width="100%" wmode="opaque" bgcolor="#ffffff"></embed>  </object>
