<% if page_data.tags %>
  <hr>
  <div class='alert alert-info'>
    <strong>Want more?</strong>
    <p>Get the latest <strong><%= tags_for(page_data.tags).first %></strong> news, tips, tricks, and GOTCHAS delivered straight to your inbox.</p>
  </div>
  <%= partial "mailchimp/#{page_data.list || 'development'}", locals: { klass: klass } %>
<% end %>
